.navbar {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
}

.nav-title {
  position: relative;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-subtitle {
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 0.5rem;
  transition: 250ms;
}

.nav-title:hover .nav-subtitle {
  transition: 250ms;
  color: brown;
}

.nav-button {
  cursor: pointer;
  position: relative;
  transition: 250ms;
}

.nav-button:hover {
  transition: 250ms;
  transform: scale(1.2);
}

.nav-button:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -3px;
  cursor: pointer;
  background-color: white;
  transform: scaleX(0);
  transition: 500ms;
}

.nav-button:hover::before {
  transition: 500ms;
  transform: scaleX(1);
}
